@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
  /* Add other font variations as needed */
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
  /* Add other font variations as needed */
}

/* You can define other styles using these fonts */
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

/* .hero {
  background-image: url('../assets/landing.png');
  background-size: cover;
  
  /* Add any other background properties as needed */

/*
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #393E46; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}