@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
  /* Add other font variations as needed */
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
  /* Add other font variations as needed */
}

/* You can define other styles using these fonts */
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

/* .hero {
  background-image: url('../assets/landing.png');
  background-size: cover;
  
  /* Add any other background properties as needed */

/*